<ons-page ng-controller="LiveController" modifier="full_bg">
    <div class="inset">
        <div class="inset">
            &nbsp;
        </div>
        <ons-list>
            <ons-list-header ng-show="liveCams || travelCams">
                Travel / Conditions
            </ons-list-header>
            <ons-list-item class="navigable" modifier="chevron tappable" onclick="homeNavigator.pushPage('home/travelcams.html')"  ng-show="travelCams">
                <ons-icon icon="fa-video-camera" fixed-width="true">
                </ons-icon>
                {{travelCams}}
            </ons-list-item>
            <ons-list-item class="navigable" modifier="chevron tappable" onclick="homeNavigator.pushPage('home/livecams.html')" ng-show="liveCams">
                <ons-icon icon="fa-video-camera" fixed-width="true">
                </ons-icon>
                {{liveCams}}
            </ons-list-item>
            <ons-list-item class="navigable" modifier="chevron tappable" onclick="homeNavigator.pushPage('home/openweather.html')" ng-show="openWeather">
                <ons-icon icon="ion-thermometer" fixed-width="true">
                </ons-icon>
                {{openWeather}} in {{town}}
            </ons-list-item>
            <ons-list-header ng-show="categories.length">
                Reference / Tools
            </ons-list-header>
            <ons-list-item class="navigable" modifier="chevron tappable" ng-repeat="category in categories" ng-click="viewCategory($index)" ng-show="categories">
                <ons-icon icon="fa-folder" fixed-width="true">
                </ons-icon>
                {{category.category}}
            </ons-list-item>
        </ons-list>
    </div>
</ons-page>