<ons-page ng-controller="LoginController" modifier="full_bg" ng-device-backbutton="exit()">
  <div class="inset">
    &nbsp;
  </div>
  <div class="inset">
    <div>
      <ons-list>
        <ons-list-item class="centered">
          <ons-icon icon="fa-sign-in" fixed-width="true">
          </ons-icon>
          Confirmation Code
        </ons-list-item>
      </ons-list>
    </div>
    <div class="inset copy centered hey">
      {{message}}
    </div>
    <div class="inset">
      In a minute or two you should receive an email from us. Check your email and click on the link we sent to generate a confirmation code. 
      After doing this, enter the confirmation code below.
    </div>
    <div>&nbsp;</div>
    <input my-focus id="password" type="password" class="text-input" ng-model="password" placeholder="Confirmation Code..." style="width: 100%">
    <div>&nbsp;</div>
    <br/>
    <div>
      <ons-button modifier="large tappable" ng-click="login()">
        <ons-icon icon="fa-sign-in" fixed-width="true">
        </ons-icon>
        Confirm
      </ons-button>
    </div>
    <br/>
    <br/>
    <div>
      <ons-button modifier="large outline tappable" ng-click="register()">
        <ons-icon icon="ion-help-buoy" fixed-width="true">
        </ons-icon>
        Start Over
      </ons-button>
    </div>
  </div>
</ons-page>