<ons-navigator var="patrolNavigator">
    <ons-page ng-controller="PatrolController" modifier="full_bg">
        <div class="inset">
            <div class="inset">
                &nbsp;
            </div>
            <ons-list>
                <ons-list-header ng-show="{{'enableSignIn'}}">
                    Calendar / Past Attendance
                </ons-list-header>
                <ons-list-item ng-show="{{'enableSignIn'}}" class="navigable" modifier="chevron tappable" onclick="patrolNavigator.pushPage('patrol/calendar.html')">
                    <ons-icon icon="fa-calendar" fixed-width="true">
                    </ons-icon>
                    Manage Calendar
                </ons-list-item>
                <ons-list-item ng-show="{{'enableSignIn'}}" class="navigable" modifier="chevron tappable" onclick="patrolNavigator.pushPage('patrol/sheets.html')">
                    <ons-icon icon="fa-calendar" fixed-width="true">
                    </ons-icon>
                    Manage Past Attendance
                </ons-list-item>
                <ons-list-header ng-show="events.length>0">
                    Upcoming Schedule
                </ons-list-header>
                <ons-list-item class="navigable" modifier="chevron tappable" ng-repeat="event in events" ng-click="showEvent($index)">
                    <ons-icon icon="fa-calendar" fixed-width="true" ng-show="event.attendeeCount>0">
                    </ons-icon>
                    <ons-icon icon="fa-calendar-o" fixed-width="true" ng-hide="event.attendeeCount>0">
                    </ons-icon>
                    {{event.quickTeaser}}
                </ons-list-item>
            </ons-list>
        </div>
    </ons-page>
</ons-navigator>